@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* CSS cho phần heading của trang web */

.heading {
    font-size: 28px;
    color: #F88644;
    text-align: center;
    margin: 40px 0;
    position: relative;
}

.heading::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #F88644;
    top: 45px;
    left: 47%;
}

/* CSS Cho Login */
.login-form {
    width: 25%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;

}

.login-form form {
    display: flex;
    /* Dàn các thẻ con thành hàng dọc */
    flex-direction: column;
}

.login-form form input {
    padding: 15px 15px;
    border: none;
    background-color: #F0F2F5;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    margin: 5px 0;
    border-radius: 5px;
    transition: all .2s linear;
}


.login-form form input:focus {
    border: 1px solid none;
}

button {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid #F88644;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #F88644;
    width: 100%;
    margin-top: 10px;
}

.login-form form button:hover {
    background: #F88644;
    color: #fff;
    transition: all .4s linear;
}

.link-login {
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 30px 0;
}

.link-login:hover {
    color: #24A19C;
    transition: all .4s linear;
}